<a href="#" id="new-button" (click)="newRecord()">New</a>
<table>
<thead>
    <tr>
        <th>Brand</th>
        <th>Model</th>       
    </tr>
</thead>
<tbody>
    <tr *ngFor="let itemInfo of itemsData">
        <td>{{itemInfo.brand}}</td>
        <td>{{itemInfo.model}}</td>
        <td>
            <a href="#" (click)="editRecord(itemInfo)">Edit</a>
            <a href="#" (click)="deleteRecord(itemInfo)">Delete</a>
            
            <!-- <a href="#" ng-click="editRecord($event)">Edit</a>
            <a href="#" ng-click="deleteRecord($event)">Delete</a> -->
            
        </td>
    </tr>
</tbody>
</table>